.form-create {
  display: flex;
  margin: 1em 5em 1em 5em;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    display: flex;
    margin-bottom: 8em;
  }


}

.form-create-event {

  display: flex;
  flex-direction: column;
  padding: 5em 2em 5em 2em;
  width: 40%;

  input {
    margin: 1em;
    width: 60%;
  }

  #category_choice {
    width: 60%;
    text-align: center;
  }

  .btn-create-event {
    width: 6em;
    margin: 1em auto;
    height: 3em;
    border-radius: 1em;
    border-style: none;
    border: 1px solid grey;
  }
}
