.bg-404 {
  background: url('../images/underwater.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 10;

  .description-404 {
    margin-top: 20em;

    h1 {
      color: $color-text-links;
    }

    button {
      margin-top: 2em;
      width: 350px;
      background-color: $color-1;
      border: 1px solid $color-1;
      border-radius: 5px;
      font-weight: 700;
      line-height: 1.8em;
      font-size: 1.2em;

      a {
        text-decoration: none;
        color: $color-text-links;
      }
    }
  }
}
