.next-events-front-page, .last-events-front-page, .locations-front-page {
  background-color: $color-3;
  margin: 1em 1em;
  text-align: center;

  & .event, .location {
    background-color: lighten($color-1, 20);
    border: 1px solid lighten($color-1, 20);
    border-radius: 5px;
    margin-bottom: 1em;
    color: $text-color;

    h4 a {
      text-decoration: none;
      color: $text-color;
    }

    .event-cat ul {
      padding: 0;

      li {
        list-style-type: none;
        display: inline-block;
        margin: 0.2em 10px;
        padding: 0 5px;
        border-radius: 5px;
        background-color: $color-1;

        a {
          text-decoration: none;
          color: $color-3;
        }
      }
    }
  }
}

//
//
//
// .last-events-front-page {
//   background-color: $color-3;
//   margin: 1em 1em;
//   text-align: center;
//
//     & .event {
//       background-color: lighten($color-1, 20);
//       border: 1px solid lighten($color-1, 20);
//       border-radius: 5px;
//       margin-bottom: 1em;
//     }
// }

/*---RESPONSIVE---*/

@media (min-width: 768px) {
  .next-events {
    display: flex;
    flex-wrap: wrap;

    & .event {
      width: 45%;
      margin: 1em 1em;
    }
  }

  .last-events {
    display: flex;
    flex-wrap: wrap;

    & .event {
      width: 45%;
      margin: 1em 1em;
    }
  }
}

@media (min-width: 992px) {
  .next-events-front-page {
    width: 72%;
    margin-right: 380px;
  }
  .last-events-front-page {
    width: 72%;
    margin-right: 380px;
  }
      .event {
        width: 35%;
        margin: 1em 0.5em;
      }
}

@media (min-width: 1440px) {
  .next-events-front-page {
    width: 78%;

    & .next-events {
      padding-left: 2em;

      .event {
        width: 30%;
        margin: 1em 0.5em;
      }
    }
  }
  .last-events-front-page {
    width: 78%;

      & .last-events {
        padding-left: 2em;

        .event {
          width: 30%;
          margin: 1em 0.5em;
        }
      }
  }
}

@media (min-width: 1920px) {
  .next-events-front-page {

    & .next-events {
      padding-left: 2em;

      .event {
        width: 23%;
      }
    }
  }
  .last-events-front-page {

      & .last-events {
        padding-left: 2em;

        .event {
          width: 23%;
        }
      }
  }
  .locations-front-page {

      & .last-events {
        padding-left: 2em;

        .event {
          width: 23%;
        }
      }
  }
}
