.header {

  .navbar {
    background-color: $color-1;

    #company_name {
      font-weight: bold;
      font-size: 1.5em;
      text-decoration: none;
      border-bottom: 1px solid $color-4;
    }
    .navbar-brand, a {
      color: $color-text-links;
      display: block;
    }
  }
  .menu_if_connected a {
    font-size: 1.25em;
    line-height: 2em;
    text-decoration: none;

    &:hover  {
      color: $color-4;
      font-weight: 400;
      background-color: $color-2;
      border-radius: 4px;
    }
  }
  .menu_not_connected a {
    font-size: 1.25em;
    line-height: 2em;
    text-decoration: none;
  }
}


/*---RESPONSIVE---*/

@media (min-width: 992px) {

  .header {

    & .menu_if_connected a{
      font-size: 1em;
      display: inline;
      margin-right: 1em;
    }

    & .menu_not_connected a {
      font-size: 1em;
      display: inline;
      margin-right: 1em;
    }
  }
}
