.home-page-container {
  margin-top: 100px;
  padding: 0 300px;

  section {
    margin-top: 50px;

    .next-events {
      margin: 0;

      .event {
        text-align: center;
        padding: 5px;

        .event-title {
          font-weight: 700;
        }

        .event-description {
          margin: 0;
          line-height: .8em;
        }

        .event-excerpt {
          padding: 5px;
        }
      }
    }
  }
}
