.main-sidebar {
  display: none;
  position: fixed;
  right: 10px;
  top: 70px;
  background-color: $color-1;
  border-left: 1px solid $color-1;
  border-bottom: 1px solid $color-1;
  border-radius: 5px;
  padding: 1em 1em;
  max-width: 300px;
  max-height: 780px;

  .sidebar-menu-list {
    background-color: rgba(255, 255, 255, .5);

    a {
      color: $color-1-dark;
    }
  }

  .siderbar-connected-users {
    background-color: rgba(255, 255, 255, .5);
    padding: 0.5em 0.5em 0 0.5em;

    a {
      color: $color-1-dark;
    }    
  }

  .meteo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

    .meteo-card {
      text-align: center;
      margin: 0 0.2em;
      width: 84px;

      h5 {
        font-size: 0.6em;
      }

      h6 {
        margin: 0 !important;
        font-size: 0.8em;
      }

      p {
        font-size: 0.8em;
        max-width: 84px;
      }
  }
}
}

/*---RESPONSIVE---*/

@media (min-width: 992px) {
  .main-sidebar {
    display: block;
    // width: 25%;
  }
  // .em-calendar,
  // .em-calendar-wrapper {
  //   text-align: center;
  // }
  // .em-calendar table {
  //   box-sizing: content-box !important;
  // }

}

@media (min-width: 1440px) {

  .main-sidebar {
    // width: 30%;
    // right: 1.3em;
    // padding: 1.2em;
    .meteo {
      .meteo-card {
        // margin-left: 1em;
          h5 {
            font-size: 1em;
          }
          p {
            font-size: 0.8em;
          }
      }
    }
  }
}

@media (min-width: 1920px) {

  .main-sidebar {
    // width: 17%;
    // right: 3em;
    .meteo {
      .meteo-card {
        margin-left: 1em;

          h5 {
            font-size: 1em;
          }
      }
    }
  }
}

@media (max-height: 860px) and (min-width: 1024px) {
  .main-sidebar {
    position: absolute;
    right: 10px;
    top: 70px;
  //   padding: .2em .2em;
  //   max-height: 700px;
  // }

  // .meteo {
  //   max-height: 300px;
  //   margin-top: 5px;
  //   margin-bottom: 5px;
  // }
  // .siderbar-connected-users {
  //   // margin-top: 5px;
  }
}
