.event-presentation {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
  margin-top: 3em;

  .sidebar-left {
    padding-right: 2.5em;
  }

  .card {
    width: 100%;
    height: 100%;

      .event-bg-head {
        width: 100%;
        height: 20em;
        background-size: cover;
        background-repeat: no-repeat;

      }
    .card-body {

      .event-map {
        margin: 1em auto;

        .em-location-map-container {
          margin: 0 auto;
        }
      }
      .event-categories {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;

        li {
          margin-right: 0.2em;
          list-style: none;
          text-align: center;
          width: 30%;
          background-color: $color-1;
          border: 1px solid $color-1;
          border-radius: 5px;
          font-weight: bold;
          margin-bottom: 0.2em;
          padding: 0.2em;

          li:hover {
            color: $color-1-dark;
            background-color: $color-1-light;
            border: 1px solid $color-1-light;
          }
          a {
            color: $color-text-links;
            text-decoration: none;
          }

        }
      }
    }
  }

  .sidebar-right {
    padding: 1em;
    margin-top: 1em;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;

    .sidebar__title-right {
      text-align: center;
      margin-bottom: 1em;
    }

    .subscriber-list {
      padding-left: 1em;

      .avatar-list-item {
        list-style: none;
        padding: 0.2em;

        img {
          margin-right: 1em;
        }
      }

    }
  }

  .card-title {
    display: flex;
    justify-content: space-between;
  }
}

/*---RESPONSIVE---*/

@media (min-width: 768px) {

  .event-presentation{

    .card {

      .card-body {

        .event-map {
          width: 80%;
          margin: auto;

        }

        .event-cat-title {
          margin-top: 1em;
        }
        .event-categories {
          li {
            width: 15%;
          }
        }

      }
    }
  }
}

@media (min-width: 1024px) {

  .event-presentation {
    width: 70%;

    .card {
      .card-body {

        .event-infos {
          display: flex;
          justify-content: space-around;

          .event-details {
            width: 40%;
            margin: auto 0;
            padding-left: 2em;
          }

          .event-map {
              width: 50%;
          }
        }
      }
    }

  }

  .sidebar-right {
    width: 80%;
  }
}

@media (min-width: 1440px) {

  .event-presentation {
    width: 75%;
    .card {
      .card-body {

        .event-infos {
          .event-details {
            padding-left: 5em;
          }
        }

        .event-categories {
          li {
            width: 10%;
          }
        }
      }
    }
  }
}

@media (min-width: 1920px) {

  .event-presentation {
    width: 80%;

    .card {
      padding: 1em;
      .card-body {
        .event-infos {
          padding: 1em;
          .event-map {
            width: 60%;
          }

        }
      }
    }
  }
}
