

.container-upp{
  margin: 7em auto;
  height: 100%;

  .row{

    margin-bottom: 5em;

    .col-sm-5{
      // background-color: yellow;
      padding-left: 4em;
      padding-top: 4em;


      .Prez{
        width: 60%;

        #user-name{
          font-size: 3em;
          font-weight:bold;
          margin-bottom: 0;
          color: $color-1;
        }

        #user-service{
          font-style: italic;
        }

        #user-description{
          margin-top: 3em;
          margin-bottom: 5em;


        }
      }

      .contact-user{


        .btn{
          background-color: $color-1;
          color: white;
          font-weight: bold;
          width: 40%;



          &:hover{
            border-radius: 5em;
            transition: 1s;
            background-color: white;
            color: $color-1;
            border: 0.5px solid $color-1;

          }

          a {
            text-decoration: none;
            color: white;

            &:hover{
              color: $color-1;
            }

          }

        }
      }

    }

    .col-sm-7{
      // background-color: blue;
      padding-left: 4em;
      padding-top: 4em;

      .user-lasts-events{
        width: 50%;

        #last-public-events{
          font-size: 2em;
          font-weight: bold;
        }

        .ule{
          padding-left: 1em;
        }
      }
    }
  }



}
