.user-registration-container {
  margin: 10em auto;

  .form-title {
    margin-bottom: 1em;
  }

  .label-email {
    margin-right: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    line-height: 1em;
  }
}
