// Font d'écran
$bg-color-light: #D0DCFF;

// Couleurs du site
$color-1: #2599E8;
$color-2: #1AFDFF;
$color-3: #FFFFFF;

//  Borders
$border-color: #1B1D21;

// Texte
$text-color: #1B1D21;

// Polices
$font_nunito: 'Nunito', Arial, sans-serif;
$font_relaway: 'Raleway', Arial, sans-serif;
$font_exo2: 'Exo+2', Arial, sans-serif;
$font_roboto: 'Roboto', Arial, sans-serif;
$font_orbitron: 'Orbitron', Arial, sans-serif;
